.container {
  min-height: 100vh;

  .mainContainer {
    padding-top: var(--header-height);
    padding-left: 5px;
    padding-right: 5px;

    .main {
      min-height: 100%;
      padding: 4rem 0;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.logo {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
}

.nobr {
  white-space: nowrap;
}
